{% extends 'base.html' %}
{% block content %}

<a href="{{url_for('users.signup')}}">Don't have an account? Sign up here</a>

<h1>Please login</h1>
<br>
<form method="post" action="/login">
  {{ form.csrf_token }}
  <p>
    {{ form.username(placeholder="username") }}
    <span class="text-danger">
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.password(placeholder="password") }}
    <span class="text-danger">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Sign in</button>
</form>

{% endblock %}