.div1 {
	width: 100%;
	height: 200px;
	background-color: red;
}

.div2 {
	width: 100%;
	height: 200px;
	background-color: orange;
}

/* Your Code Goes Under This Line */
@media (max-width: 600px) {
	.div1 {
		background: blue;
	}
}

@media (max-width: 400px) {
	.div2 {
		background: purple;
	}
}

@media (min-width: 500px) and (max-width: 600px){
	body .div2 {
		color: green;
	}
}

@media (min-width: 600px) {
	.div2 {
		width: 50%;
	}
}

