<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
    {% endfor %}

    {% if current_user.is_authenticated %}
        <a href="{{url_for('users.logout')}}">Logout</a> |
        <a href="{{url_for('posts.all')}}">See all posts </a> |
    {% endif %}


    {% if error %}
        <p class="text-danger">Error: {{error}}</p>
    {% endif %}

    {% block content %}
    {% endblock %}



</body>
</html>

