<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>
    {% block content %}
    {% endblock %}

    <!-- errors -->
    {% if error %}
      <p class="text-danger"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <!-- flash messages -->
    {% for message in get_flashed_messages() %}
      {{message}}
    {% endfor %}
</body>
</html>