doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if error
      div.row= error
    div.container-fluid
      .row
        .col-md-2
          ul.nav.nav-pills.nav-stacked
            if !user
              li
                a(href="/users/signup") Signup
              li
                a(href="/users/login") Login
            if user
              li
                a(href="/reminders") Reminders
              li
                a(href="/users/logout") Logout
        .col-md-10
          block content
