extends layout

block content
  .row
    h1 Login for Reminders~
    form(method="POST", action="/users/login").form
      .form-group
        input(name="phone", type="phone", placeholder="Phone")
      .form-group
        input(name="password", type="password", placeholder="Password")
      .form-group
        input(type="submit").btn.btn-primary
